@charset "UTF-8";

/* --- 共通部分 --- */

html {
	font-size: 100%;
}

body {
	font-family: "Yu Gothic Medium", "游ゴシック Medium", Yugothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
	line-height: 1.7;
	color: #000;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* --- ヘッダー --- */

.logo {
	width: 210px;
	margin-top: 14px;
	margin-left: 14px;
}

.main-nav {
	display: flex;
	font-size: 1.25rem;
	text-transform: uppercase;
	margin-top: 20px;
	margin-right: 20px;
	list-style: none;
	font-family: 'Jost', sans-serif;
}

.main-nav li {
	margin-left: 36px;
}

.main-nav a {
	color: #f3f3f3;
}

.main-nav a:hover {
	color: #e3e3e3;
}

.page-header {
	display: flex;
	justify-content: space-between;
}

#home .page-header {
	background-color: #000000B3;
}

.wrapper {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 4%;
}

/* --- Home --- */

.home-content {
	text-align: center;
	margin-top: 10%;
}

.home-content p {
	font-size: 1.125rem;
	margin: 10px 0 42px;
}

#home {
	color: #f3f3f3;
}

/* スローガン */
.page-title {
	font-size: 5rem;
	font-family: 'Jost', sans-serif;
	text-transform: none;
	font-weight: normal;
}

/* ボタン */
.button {
	font-size: 1.375rem;
	background: #1dc3f5;
	color: #fff;
	border-radius: 5px;
	padding: 18px 32px;
}
.button:hover{
	background: #2493b5;
}

/* 背景画像 */
.big-bg {
	background-size: cover;
	background-position: center top;
}
#home {
	background-image: url(../images/Ashibara_bg.gif);
	background-color: #00000099;
	background-blend-mode: darken;
	min-height: 100vh;
}

/* アニメーション */
.anim-box {
	animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal;
}

/*p.anim-box {
	animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) 200ms 1 normal;
}

.button.anim-box {
	animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) 200ms 1 normal;
} */
 
@keyframes fadeup {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
